.publicTopbar{
  z-index: 99;
  flex: 0 0 auto;
  display: flex;
  color: grey;
  align-items: center;
  background-color: 'red';
  height: 32px;

  .leftSide{
    font-weight: 300;
    padding: 0px 8px 0px 4px;
    height: 100%;
    flex: 0 0 auto;

    // .apotheken_a{
    //   background-image: url('./apotheken_a.png');
    //   background-repeat: no-repeat;
    //   background-size: 14px 14px;
    //   width: 14px;
    //   height: 14px;
    //   margin: 8px 4px 0px 8px;
    // }

    icon{
      padding: 0px;
      color: #7b7b7b;
      transform: rotate(-90deg);
    }
    .text{
      color: #7b7b7b;
      letter-spacing: 0.3px;
      align-items: center;
    }
  }

  .rightSide{
    justify-content: flex-end;
    padding-right: 8px;

    .moreOptions{
      flex: 0 0 auto;
      cursor: pointer;
      icon{
        height: 30px;
        padding: 0px;
        font-size: 22px;
      }
    }
  }
}
