.sButton{
	background: #f5f6f7;
	border-radius: 2px;
	color: #63676d;
	cursor: pointer;
	border: 1px solid #dedfe0;
	border-bottom: 1px solid #d2d5d8;
	height: 40px;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	padding: 0px 14px;
	min-width: 138px;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.4px;
	text-transform: uppercase;
}
