.openTasksFromPastBlock {
	width: 150px;
  flex: 0 0 auto;
  padding-right: 2px;
  align-items: center;
  cursor: pointer;
  margin-right: 9px;
  height: 40px;
  color: #ff5438;
  font-size: 18px;
  font-weight: 700;
  background: #f6f7f9;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #dfe0e2 #ced0d4 #bec1c7;
  border-image: initial;
  border-bottom: 1px solid #bec1c7;
  border-top: 1px solid #dfe0e2;
  box-sizing: border-box;

	.icon-notification{
		border:none;
		display: flex;
    padding: 0px;
    color: #ff5438;
    font-size: 14px;
    font-weight: 100;
    margin-right: 6px;
	}

	.numberOfForgottenTasks {
		align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 18px;
    border-right: 1px solid #d7d7d8;
    height: 34px;
	}
	.forgottenTasksText{
		font-size: 15px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    color: rgba(85, 85, 85, 0.92);
	}

}

.inUserMode {
	.openTasksInPast {
		margin-left: 44px;
	}
}
