.searchFilterBar {
	font-size: 17px;
  padding: 0px 4px 6px 1px;
  align-items: flex-start;
  color: #545454;
  font-weight: 400;
  flex: 0 0 auto;
  height: 74px;
	margin-top: 8px;
	margin-bottom: 4px;

	.selectFieldWrapper{
		>div >div >div >div{
			padding:0px !important;
		}
	}

	.searchFieldWrapper{
		padding-top:23px;
		.icon {
			padding: 0px 6px;
		}
	}

	.checkboxWrapper{
		font-size: 13px;
    padding: 4px;
    width: 195px;
    height: 32px;
    padding-left: 14px;
    margin-top: 30px;
	}


	.filterCheckBox{
		height: 55px;
		justify-content: center;
		padding: 0px;
		border-radius: 1px;
		align-items: center;
		margin-top: 10px;
		padding-left: 6px;
	}

	.filterActivesCheckbox{
		width: 218px;
		align-items: flex-end;
		padding-bottom: 2px;
	}

	.filterTaskCategory{
		width: 180px;
	}

	> fb {
		flex: 0 0 auto;
		margin-right: 22px;
	}
}
