.taskItemWrapper {
	flex: 0 0 auto;
	overflow: hidden;

	> .task {
		flex: 1 0 40px;
		height: 40px;

		.assignedUsersWrapper {
			flex: 0 0 auto;
			justify-content: flex-end;
			padding:4px;
			margin-right: 3px;
		}
	}
}

.task {
	cursor: pointer;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: all 0.2s linear;
	// height: 40px;
	overflow: visible;
	position: relative;
	margin: 6px 20px 6px 4px;
	// box-shadow: 0px 1px 2px rgba(144, 144, 144, 0.80);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.27);
	border-radius: 2px;
	background: white;
	flex-wrap: nowrap;

	.taskBody{
		overflow: visible;
	}

	&.insideOpenTasksFromPastModal {
		box-shadow: 0 0 0 1px rgb(148, 148, 148);
	}

	&:last-child {
		margin-: 1px;
	}

	&:nth-child(even) {
		//background-color: #efefef;
	}

	.checkbox {
		flex: 0 0 auto;

		* {
			margin: 0 !important;
		}

		> div {
			width: 40px;
			height: 40px;
			padding: 8px;
		}
		width: 40px;
		height: 40px;
		padding: 8px;
	}

	.body {
		flex-direction: row;
		align-items: center;
	}

	.head {
		font-size: 14px;
		flex: 1 1 auto;
		overflow: hidden;
		padding-right: 12px;
		// max-width: 67%;
		align-items: center;
		padding: 8px 6px 8px 17px;

		.date {
			font-size: 12px;
			margin-bottom: -3px;
		}

		.time {
			font-size: 11px;
			padding-left: 0;
			color: #9e9e9e;
			width: 62px;
			margin-left: 5px;
			align-items: center;
			margin-bottom: -5px;
			flex: 0;

			icon {
				color: #9e9e9e;
			}
		}

		.subject {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-size: 15px;
		}
	}

	.task-type-icon {
		padding: 3px;
		border: none;
		padding-right: 4px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 2px;
		top: 2px;
		width: 6px;
		bottom: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	&.prio {
		box-shadow: 0 0 0 1px #f76d57!important;
		&::before {
			background-color: #F76D57;
		}
	}

	&.prio::before {}

	&.isDone,
	&.isIgnored,
	&.isShifted {
		background-color: rgba(0,0,0,0);
		box-shadow: none;
		box-shadow: 0 0 0 1px #a7a7a7;

		> * {
			//opacity: 0.27;
			color: grey;

			> div {}
		}

		&::before {
			display: none;
		}

		.isReplacementIcon {
			background-color: rgb(142, 142, 142);
			color: #e6e6e6!important;
		}
	}

	&.isIgnored {
		.body {
			padding-left: 6px;
		}
	}
}


.tag {
	// margin-left: 24px;
	align-items: center;
	justify-content: center;
	justify-content: center;
	border: solid 1px rgba(0, 0, 0, 0.29);
	padding: 6px;
	font-size: 12px;
	font-weight: 300;
	height: 22px;
	margin: 6px;
	flex: 0 0 auto;
	border-radius: 2px;

	&:not(:last-child) {
		margin-right: 0;
	}

	&.deadline {
		border-color: #f76d57;
		color: #f76d57;
	}
}
