.taskManagerEditorMain{
	justify-content: center;
	height: 100%;

	.editorContent{
		width: 100%;
		max-width: 990px;
		flex-direction: column;

		.taskListWrapper{
			min-height: 500px;
			margin-bottom: 18px;

			.creatorCell{
				width: 60px;
				margin-right: 4px;

			}

			.taskInfoCell{
				flex: 1 1 auto;
				margin-left: 24px;
			}

			.assignedUsersCell{
				flex: 1 0 auto;
				justify-content: flex-end;
			}

			.taskTypeCell{
				width: 110px;
				justify-content: flex-end;
			}

			.taskDateCell{
				width: 92px;
				justify-content: flex-end;
			}
		}
	}
}
