.taskAnimation-enter {
	transition: all 200ms linear;
	opacity: 0;
	height: 0;
}

.taskAnimation-enter-active {
	opacity: 1;
	height: 52px;
}

.taskAnimation-leave {
	opacity: 1;
	height: 52px;
	transition: all 130ms ease-out;
}

.taskAnimation-leave-active {
	opacity: 0;
	height: 0;
}
