@import "global.scss";
@import "helper.scss";
@import "layout.scss";
@import "fonts.scss";
@import "icons.scss";
@import "modals.scss";
@import "baloon.scss";

content,
main {
	display: flex;
	flex: 1 1 auto;
	overflow-y: auto;
	flex-direction: column;
	@include customScroll;
	min-height: 86px;
	position: relative;
}

content,
footer,
header {
	padding: 12px;
}

body {
	background: #f2f2f2;

	.row {
		flex-direction: row;
	}
}

footer,
header {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.content-right {
	display: flex;
	flex: 0 0 auto;
	margin-left: auto;
	button {
		margin-bottom: 0;
	}
}

html {
	background: #f2f2f2;
	-webkit-font-smoothing: subpixel-antialiased;

	.fb {
		display: flex;
	}
}

input[type=password],
input[type=text],
textarea {
	width: 100%!important;
	// margin-bottom: 0;
	font-weight: inherit;

	&.short {
		max-width: 90px;
	}
}

label,
legend {
	font-weight: inherit;
}

.add-qm-wizard,
.edit-qm-wizard {
	max-width: 80vw;
	width: 600px;

	textarea {
		resize: vertical;
		height: 240px;
		max-height: 33vh;
	}

	label {
		user-select: none;
		cursor: pointer;
	}
}

button {
	font-family: "Roboto", sans-serif !important;
	// font-weight: 400!important;
	&.alert,
	&.red {
		background-color: #F54F4F;
		color: white;
		border: solid 1px #F54F4F;
		transition: all 0.07s linear;

		&:hover {
			background-color: #E03838;
		}
	}
}

button {
	// transition: all 0.07s linear;

	&.slim {
		height: 27px;
		line-height: 22px;
		text-align: center;
		padding: 0 10px;
		font-weight: 400;
	}

	&.disabled {
		opacity: 0.4;
		background-color: #CECECE;
		border: solid 1px #CECECE;
		cursor: default;

		&:hover {
			background-color: #CECECE;
			border: solid 1px #CECECE;
		}
	}
}

.user {
	position: relative;

	&:hover {
		.add-user-to-group-icon,
		.remove-user-from-group-icon {
			display: block;
		}
	}

	.remove-user-from-group-icon {
		display: none;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: solid 1px red;
		background-color: white;
		color: red;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(50%, -50%);
		line-height: 20px;
		font-size: 24px;
		font-weight: 900;
	}

	.add-user-to-group-icon {
		display: none;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: solid 1px green;
		background-color: white;
		color: green;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(50%, -50%);
		line-height: 20px;
		font-size: 24px;
		font-weight: 200;
	}
}

.column {
	flex-direction: column;
}

.no-padding {
	padding: 0;
}

label,
select {
	margin: 0;
}

fb.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.disabled {
	pointer-events: none;
}

div.disabled {
	opacity: 0.3;
}

.materialDialog > div > div > div > div {
	display: flex!important;
	max-height: 93vh!important;
}

input {
	margin-bottom: 0;
}

div > div > input[type=text] {
	height: 50px!important;
	padding-top: 22px !important;
}

td:first-child,
th:first-child {
	padding-left: 24px;
}

[type="button"] {
	-webkit-appearance: none!important;
}

.materialUiMenuContainer > div > div:first-child > div {
	padding-left: 0 !important;
	margin: 0 !important;
}

.materialUiMenuContainer {
	min-width: 184px;
	flex-shrink: 0;
	flex-grow: 0;

	> div {
		margin-top: 5px;
	}
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px rgb(250, 250, 250) inset;
}

header {
	h4 {
		margin-bottom: 12px;
	}

	p {
		font-size: 14px;
	}
}

h4 {
	word-break: break-all;
}

.panel {
	background: #f4f4f4;
	padding: 12px;
	flex-shrink: 0;
	border-radius: 1px;
	border-left: solid 3px rgb(154, 154, 154);

	.dateToggle {
		flex-basis: 160px;
		align-items: center;
	}

	.dateBoxWrapper {
		margin-top: -8px;
	}
}

p {
	white-space: pre-line;
	word-break: break-word;
}

.edgebox{
	background-color: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
}

tadeButton{
  border-radius: 2px;
	background-color: #f6f7f9;
  color: #4b4f56;
  border: 1px solid #ced0d4;
  box-sizing: content-box;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
  height: 34px;
  justify-content: center;
  align-items: center;
  display: flex;
}

tadeButtonSmall{
  border: 1px solid #ced0d4;
  box-sizing: border-box;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
	font-weight: normal;
	background-color: #f6f7f9;
	border-radius: 4px;
	color: #656565;
	height: 32px;
	flex: 0 0 auto;
}

.highestZIndex{
	z-index: 10000000000!important;
}
