.setTimingStepMain{

	.monthdayBox,
	.weekdayBox {
		width: 38px;
		height: 38px;
		border: 2px solid #BBBBBB;
		border-radius: 2px;
		line-height: 18px;
		font-size: 14px;
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.2s linear;
		font-weight: 900;
		margin-right: 6px;
		border-color: #BBBBBB;

		&.selected {
			border-radius: 100%;
			border-color: #2ecc71
		}
	}

	.weekdayBox{
		margin-right: 6px;
	}

	.monthdayBox{
		margin: 4px 2px;
	}

	.weeklyContent, .oneTimerContent, .irregularDatesContent, .dailyContent, .monthlyContent, .yearlyContent{
		padding: 16px 20px;
	}

	.dateBoxOuterWrapper{
		flex: 0 0 auto;
		width: 300px;
	}
	.checkboxWrapper{
		padding-top: 6px;
	}

	.removeDateIcon{
		cursor: pointer;
	}
}
