.headerRow{
  font-size: 13px;
  height: 24px;
  align-items: center;
  padding: 10px 10px 10px 6px;
  border-bottom: 1px solid lightgrey;
  color: #3f3f3f;
  background-color: #e4e4e4;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  flex: 0 0 auto;

  >*{
    flex: 0 0 auto;
  }

  .creator{
    font-size:13px;
    width: 60px;
  }
  .taskInfo{
    font-size:13px;
  }
}
