.adminpanel-body{
	.edit-users-content{
			padding:12px;
			width:100%;
			flex-direction: column;
			display: flex;

			.newUserButtonWrapper{
				padding: 6px 6px 6px 18px;
				font-size: 16px;
				border-bottom: 1px solid rgba(211, 211, 211, 0.68);
				padding: 5px 20px 5px 5px;

				.newUserButton{
					margin-bottom: 4px;
					margin-left: -4px;
				}
			}
	}
}
