@font-face {
	font-family: 'RBNo2Light';
	src: url('../../../fonts/RBNo2Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.bigUserButton{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  margin: 4px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-family: 'RBNo2Light' !important;
  font-size: 24px;
  padding-top: 2px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  cursor:pointer;
	position: relative;
	flex-direction: column;

	&.onVacation{
		background-color: rgba(242, 242, 242, 0.06);
    color: rgba(255, 255, 255, 0.52);
    text-shadow: none;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
		padding: 2px;

		.initials{
			font-size: 16px;
	    line-height: 16px;
	    padding-bottom: 1px;
		}

		.airplane{
			font-size: 22px;
		}
	}

	.initials{
		flex: 0 0 auto;
		line-height: 18px;
		justify-content: center;
		align-items: center;
	}

	.qmNotifications{
		position: absolute;
    top: -1px;
    right: 0px;
    text-shadow: none !important;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 8px 0px 8px 8px !important;
    z-index: 12;
    color: #fff;
    background: rgb(228, 64, 64);
    border-radius: 1px;
    padding-right: 0px;
    font-weight: 400;
    padding-top: 2px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.38);
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    padding-left: 2px;
    border-right: 1px solid #be3636;
	}
}
