.roundCheckbox {
	flex: 0 0 36px;
	align-items: center;
	justify-content: center;
	padding: 0 6px;
	margin-left: 1px;
	min-width: 36px;
	width: 36px;

	&.invisible {
		* {
			border-color: rgba(0,0,0,0);
		}
	}

	> div {
		height: 24px;
		width: 24px;
		border: solid 1px;
		border-radius: 50%;
		border-color: rgb(135, 135, 135);
		position: relative;
		cursor: pointer;

		&:before {
			background: rgb(135, 135, 135);
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			right: 4px;
			bottom: 4px;
			border-radius: 50%;
			transition: all 0.2s;
			opacity: 0;
		}

		&.checked {
			&:before {
				opacity: 1;
			}
		}
	}
}
