.userProfile{
	justify-content: center;

	.userProfile-body {
		width: 100%;
		max-width: 990px;
		flex-direction: row;
		justify-content: center;
		display: flex;
		flex: 1 0 auto;
		margin-top: 30px;
		margin-bottom: 20px;

		button{
			margin-bottom: 0px;
		}

		.userProfile-navbar {
			width: 250px;
			border-right: 1px solid lightgrey;
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;

			.selected {
				background-color: #eaeaea;
			}

			.navbar-item {
				font-size: 14px;
		    border-bottom: 1px solid rgba(211, 211, 211, 0.55);
		    text-decoration: none;
		    color: #676767;
		    height: 44px;
		    justify-content: center;
		    align-items: center;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    font-weight: 500;
		    cursor: pointer;
		    letter-spacing: 1px;
		    text-transform: uppercase;

				&:hover {
					//background-color: rgba(0, 0, 0, 0.04);
					padding-left: 6px;
					border-left: 2px solid #f94676;
				}
			}
		}

    .userProfileContent{
        flex: 1 0 auto;
    }
	}

	.adminpanel {
		button {
			height: 38px !important;
		}
	}
}

.edgebox{
	background-color: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
}
