
#homeMain{
	width: 900px;
	flex-direction: row;

	#homeLeft{
		flex: 1 1 50%;
		//flex-direction: column;
		// padding-top: 30px;
		padding: 18px 0px;
    font-size: 24px;
    color: #777777;
    font-weight: 500;
    justify-content: center;
		margin-top: 20px;
		align-items: center;


		#homeImageTitle{
			font-size: 40px;
			//font-weight: 200;
			font-size: 24px;
			color: #777777;
			font-weight: 500;
			text-transform: uppercase;
		}

		#homeImageWrapper{
			margin-left: 40px;
		}
	}
	#homeRight{
		flex: 1 1 50%;
	}
}
