.tasksDay {
	flex: 0 0 30%;
	min-width: 400px;
	padding: 12px 2px;
	max-width: 30vw;
	padding-bottom: 6px;

	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	flex: 1 0 auto;
	max-width: none;
	min-width: none;
	border: none!important;
	box-shadow: none!important;

	> * {
		border: none!important;
		box-shadow: none!important;
	}

	&:not(:last-child) {
		border-right: 1px solid rgba(97, 97, 97, 0.10);
	}
	border-radius: 0;
	flex-direction: column;

	.tasksWrapper {
		flex-direction: column;
		flex: 1 1 auto;
		overflow-y: overlay;
		overflow-x: hidden;

		&::-webkit-scrollbar-track {
			margin-top: 5px;
			background-color: rgba(239, 239, 239, 0);
			border-radius: 0;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #e0e0e0;
				border: solid 1px rgba(179, 179, 179, 0.44);
				border-radius: 2px;
		}
		&::-webkit-scrollbar {
			background-color: rgba(239, 239, 239, 0);
			border-radius: 0;
			width: 8px;
			height: 6px;
		}
	}

	.noTasksBlock {
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #e5e5e5;
    border-radius: 2px;
    margin: 2px 20px 2px 4px;
    box-shadow: inset 0px 1px 3px -1px grey;
    color: #615e5e;
    letter-spacing: 0.8px;
	}
}
